* {
  font-family: Roboto;
}

h3 {
  color: #646464;
  font-size: 24px;
  font-weight: 400;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #101010;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:18px;
  background: rgb(43 62 89 / 50%);
  color: #227af6;
  border: none;
  border-radius: 10px;
  padding: 16px;
  font-size: 32px;
  font-weight: 600;

}

.connect {
  display: flex;
  flex-direction: column;
}

.invitation-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.invitation-buttons button:first-child {
  width: 100%;
}

.link-img {
  margin-top: 60px;
}

h1 {
  color: white;
}